---
# https://taskfile.dev
# yaml-language-server: $schema=https://taskfile.dev/schema.json

version: '3'

includes:
  tool:
    taskfile: tool.task.yml
    internal: true

vars:
  REVIEWDOG_ARGS:
  - -filter-mode 'nofilter'
  - -log-level 'warning'
  - -fail-level 'any'

tasks:
  default:
    desc: '{{.TASK}}'
    silent: true
    cmds:
    - task: editorconfig-checker
    - task: shellcheck
    - task: actionlint
    - task: ghalint-run
    - task: ghalint-act
    - task: zizmor
    - task: clippy

  matrix:
    desc: '{{.TASK}}'
    silent: true
    cmds:
    - task -aj | jq -cM -f scripts/actions-matrix.jq

  reviewdog:
    internal: true
    label: 'reviewdog:{{.REVIEWDOG_RUNNER}}'
    deps:
    - task: tool:aqua:tag:reviewdog
    cmds:
    - >-
      reviewdog
      -runners '{{.REVIEWDOG_RUNNER}}'
      -reporter '{{env "REVIEWDOG_REPORTER" | default "local"}}'
      {{env "REVIEWDOG_ARGS" | default (.REVIEWDOG_ARGS | join " ")}}

  editorconfig-checker:
    desc: '{{.TASK}}'
    deps:
    - task: tool:aqua:tag:editorconfig-checker
    sources:
    - '**/*'
    - '.*/**/*'
    - exclude: '.git/**/*'
    - exclude: '.task/**/*'
    - exclude: 'target/**/*'
    - exclude: 'dist/**/*'
    generates:
    - .task/.done_{{.TASK}}
    cmds:
    - task: reviewdog
      vars:
        REVIEWDOG_RUNNER: '{{splitList ":" .TASK | last}}'
    - cmd: touch .task/.done_{{.TASK}}
      silent: true

  shellcheck:
    desc: '{{.TASK}}'
    deps:
    - task: tool:aqua:tag:shellcheck
    sources:
    - '**/*.sh'
    - '**/*.bash'
    - '.*/**/*.sh'
    - '.*/**/*.bash'
    - exclude: '.git/**/*'
    - exclude: '.task/**/*'
    - exclude: 'target/**/*'
    - exclude: 'dist/**/*'
    generates:
    - .task/.done_{{.TASK}}
    cmds:
    - task: reviewdog
      vars:
        REVIEWDOG_RUNNER: '{{splitList ":" .TASK | last}}'
    - cmd: touch .task/.done_{{.TASK}}
      silent: true

  actionlint:
    desc: '{{.TASK}}'
    deps:
    - task: tool:aqua:tag:actionlint
    sources:
    - '.github/**/*.yml'
    - '.github/**/*.yaml'
    generates:
    - .task/.done_{{.TASK}}
    cmds:
    - task: reviewdog
      vars:
        REVIEWDOG_RUNNER: '{{splitList ":" .TASK | last}}'
    - cmd: touch .task/.done_{{.TASK}}
      silent: true

  ghalint-run:
    desc: '{{.TASK}}'
    deps:
    - task: tool:aqua:tag:ghalint
    sources:
    - '.github/**/*.yml'
    - '.github/**/*.yaml'
    generates:
    - .task/.done_{{.TASK}}
    cmds:
    - task: reviewdog
      vars:
        REVIEWDOG_RUNNER: '{{splitList ":" .TASK | last}}'
    - cmd: touch .task/.done_{{.TASK}}
      silent: true

  ghalint-act:
    desc: '{{.TASK}}'
    deps:
    - task: tool:aqua:tag:ghalint
    sources:
    - '.github/**/*.yml'
    - '.github/**/*.yaml'
    generates:
    - .task/.done_{{.TASK}}
    cmds:
    - task: reviewdog
      vars:
        REVIEWDOG_RUNNER: '{{splitList ":" .TASK | last}}'
    - cmd: touch .task/.done_{{.TASK}}
      silent: true

  zizmor:
    desc: '{{.TASK}}'
    deps:
    - task: tool:aqua:tag:zizmor
    sources:
    - '.github/**/*.yml'
    - '.github/**/*.yaml'
    generates:
    - .task/.done_{{.TASK}}
    cmds:
    - task: reviewdog
      vars:
        REVIEWDOG_RUNNER: '{{splitList ":" .TASK | last}}'
    - cmd: touch .task/.done_{{.TASK}}
      silent: true

  clippy:
    desc: '{{.TASK}}'
    deps:
    - task: tool:aqua:tag:clippy-reviewdog-filter
    - task: tool:rustup:component:clippy
    - task: tool:cargo:fetch
    sources:
    - '**/*.rs'
    generates:
    - .task/.done_{{.TASK}}
    cmds:
    - task: reviewdog
      vars:
        REVIEWDOG_RUNNER: '{{splitList ":" .TASK | last}}'
    - cmd: touch .task/.done_{{.TASK}}
      silent: true
