---
name: Build
on:
  workflow_call:
permissions: {}
concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}
jobs:
  matrix:
    name: Matrix
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: read
    outputs:
      targets: ${{ steps.matrix.outputs.result }}
    steps:
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
        sparse-checkout: |-
          .aqua
          scripts
          src
          tasks
    - name: Setup aqua
      uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
      with:
        aqua_version: v2.56.5
    - name: Generate Matrix
      id: matrix
      shell: bash
      run: echo "result=$(task build:matrix)" >> "$GITHUB_OUTPUT"
    - name: Check Matrix
      env:
        BUILD_MATRIX: ${{ steps.matrix.outputs.result }}
      run: |-
        echo "${BUILD_MATRIX}" | jq
  build:
    needs: matrix
    name: ${{ matrix.profile }}:${{ matrix.target }}
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: read
      id-token: write
      attestations: write
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.matrix.outputs.targets) }}
    steps:
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
    - name: Setup aqua
      uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
      with:
        aqua_version: v2.56.5
    - name: Restore cargo deps cache
      uses: actions/cache/restore@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
      with:
        key: deps-${{ hashFiles('**/Cargo.lock') }}
        path: ~/.cargo/registry/
    - name: Restore setup build aqua cache
      uses: actions/cache/restore@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
      with:
        key: setup-build-aqua-${{ hashFiles('.aqua/**/*.yaml', '.aqua/**/*.yml') }}
        path: ~/.local/share/aquaproj-aqua/
    - name: Restore build cache
      id: build-cache-restore
      uses: actions/cache/restore@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
      with:
        key: build-${{ matrix.profile }}-${{ matrix.target }}-${{ hashFiles('**/Cargo.lock') }}
        path: target/
    - name: Setup build
      run: |-
        task setup:build
      env:
        BUILD_PROFILE: ${{ matrix.profile }}
        BUILD_TARGET: ${{ matrix.target }}
    - name: Build ${{ matrix.profile }} ${{ matrix.target }}
      run: |-
        task build:build
      env:
        CARGO_INCREMENTAL: ${{ !startsWith(github.ref, 'refs/tag/') && '1' || '0' }}
        BUILD_PROFILE: ${{ matrix.profile }}
        BUILD_TARGET: ${{ matrix.target }}
    - name: Generate sha256sum
      run: |-
        task build:sha256sum
      env:
        BUILD_PROFILE: ${{ matrix.profile }}
        BUILD_TARGET: ${{ matrix.target }}
    - name: Verify sha256sum
      run: |-
        task build:sha256sum:verify
      env:
        BUILD_PROFILE: ${{ matrix.profile }}
        BUILD_TARGET: ${{ matrix.target }}
    - name: Generate cosign
      if: ${{ !startsWith(github.event_name, 'pull') && matrix.profile == 'release' }}
      run: |-
        task build:cosign
      env:
        BUILD_PROFILE: ${{ matrix.profile }}
        BUILD_TARGET: ${{ matrix.target }}
    - name: Generate artifact attestation
      if: ${{ !startsWith(github.event_name, 'pull') && matrix.profile == 'release' }}
      uses: actions/attest-build-provenance@96278af6caaf10aea03fd8d33a09a777ca52d62f # v3.2.0
      with:
        subject-name: rsdebstrap-release-${{ matrix.target }}
        subject-path: dist/rsdebstrap-release-${{ matrix.target }}
    - name: Upload artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: rsdebstrap-${{ matrix.profile }}-${{ matrix.target }}
        path: dist/
    - name: Save build cache
      if: github.ref == 'refs/heads/main' && steps.build-cache-restore.outputs.cache-hit != 'true'
      uses: actions/cache/save@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
      with:
        key: ${{ steps.build-cache-restore.outputs.cache-primary-key }}
        path: target/
