---
name: Fetch
on:
  workflow_call:
permissions: {}
concurrency:
  group: fetch-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}
jobs:
  fetch:
    name: Fetch
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: read
    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false
        sparse-checkout: |-
          .aqua
          src
          tasks
    - name: Setup aqua
      uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
      with:
        aqua_version: v2.55.3
    - name: Restore cargo deps cache
      id: deps-cache-restore
      uses: actions/cache/restore@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
      with:
        key: deps-${{ hashFiles('**/Cargo.lock') }}
        path: ~/.cargo/registry/
    - name: Restore setup build aqua cache
      id: setup-build-cache-restore
      uses: actions/cache/restore@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
      with:
        key: setup-build-aqua-${{ hashFiles('.aqua/**/*.yaml', '.aqua/**/*.yml') }}
        path: ~/.local/share/aquaproj-aqua/
    - name: Fetch cargo deps
      run: |-
        task tool:cargo:fetch
    - name: Fetch setup build aqua
      run: |-
        task setup:build:aqua
    - name: Save setup build aqua cache
      if: github.ref == 'refs/heads/main' && steps.setup-build-cache-restore.outputs.cache-hit != 'true'
      uses: actions/cache/save@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
      with:
        key: ${{ steps.setup-build-cache-restore.outputs.cache-primary-key }}
        path: ~/.local/share/aquaproj-aqua/
    - name: Save cargo deps cache
      if: github.ref == 'refs/heads/main' && steps.deps-cache-restore.outputs.cache-hit != 'true'
      uses: actions/cache/save@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
      with:
        key: ${{ steps.deps-cache-restore.outputs.cache-primary-key }}
        path: ~/.cargo/registry/
