---
name: Fetch
on:
  workflow_call:
permissions: {}
concurrency:
  group: fetch-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}
jobs:
  fetch:
    name: Fetch
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: read
    steps:
    - name: Checkout
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        persist-credentials: false
        sparse-checkout: |-
          .aqua
          src
          tasks
    - name: Setup aqua
      uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
      with:
        aqua_version: v2.55.1
    - name: Restore cargo deps cache
      id: deps-cache-restore
      uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
      with:
        key: deps-${{ hashFiles('**/Cargo.lock') }}
        path: ~/.cargo/registry/
    - name: Restore setup build aqua cache
      id: setup-build-cache-restore
      uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
      with:
        key: setup-build-aqua-${{ hashFiles('.aqua/**/*.yaml', '.aqua/**/*.yml') }}
        path: ~/.local/share/aquaproj-aqua/
    - name: Fetch cargo deps
      run: |-
        task tool:cargo:fetch
    - name: Fetch setup build aqua
      run: |-
        task setup:build:aqua
    - name: Save setup build aqua cache
      if: github.ref == 'refs/heads/main' && steps.setup-build-cache-restore.outputs.cache-hit != 'true'
      uses: actions/cache/save@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
      with:
        key: ${{ steps.setup-build-cache-restore.outputs.cache-primary-key }}
        path: ~/.local/share/aquaproj-aqua/
    - name: Save cargo deps cache
      if: github.ref == 'refs/heads/main' && steps.deps-cache-restore.outputs.cache-hit != 'true'
      uses: actions/cache/save@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
      with:
        key: ${{ steps.deps-cache-restore.outputs.cache-primary-key }}
        path: ~/.cargo/registry/
