---
name: Release
on:
  workflow_call:
permissions: {}
concurrency:
  group: release-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: write
    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false
    - name: Setup aqua
      uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
      with:
        aqua_version: v2.56.4
    - name: Download artifact
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        path: dist
        pattern: rsdebstrap-release-*
        merge-multiple: true
    - name: Check artifacts
      run: tree --charset ASCII dist/
    - name: Rename artifacts
      run: |-
        cd dist
        for f in ./*; do mv -n "$f" "${f/-release-/-}"; done
        sed -i -E 's/-release-/-/' ./*.sha256sum
    - name: Merge sha256sum
      run: |-
        cd dist
        echo -n > SHA256SUMS
        for f in $(find . -type f -name '*.sha256sum' -printf '%f\n' | sort); do
          < "$f" tee -a SHA256SUMS
          rm "$f"
        done
    - name: Verify sha256sum
      run: |-
        cd dist
        sha256sum -c SHA256SUMS
    - name: Check artifacts
      run: tree --charset ASCII dist/
    - name: Release
      if: startsWith(github.ref, 'refs/tags/')
      run: |-
        gh release create "${VERSION}" --generate-notes dist/*
      env:
        VERSION: ${{ github.ref_name }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
