---
name: Test
on:
  workflow_call:
permissions: {}
concurrency:
  group: test-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: read
    steps:
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
    - name: Setup aqua
      uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
      with:
        aqua_version: v2.56.6
    - name: Restore cargo deps cache
      uses: actions/cache/restore@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
      with:
        key: deps-${{ hashFiles('**/Cargo.lock') }}
        path: ~/.cargo/registry/
    - name: Restore test cache
      id: test-cache-restore
      uses: actions/cache/restore@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
      with:
        key: test-${{ hashFiles('**/Cargo.lock') }}
        path: target/
    - name: Setup test
      run: |-
        task setup:test
    - name: Test
      run: |-
        task test
    - name: Save test cache
      if: github.ref == 'refs/heads/main' && steps.test-cache-restore.outputs.cache-hit != 'true'
      uses: actions/cache/save@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
      with:
        key: ${{ steps.test-cache-restore.outputs.cache-primary-key }}
        path: target/
